@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto|Lobster|Oswald|Raleway|Inter|Open+Sans|Inconsolata|Shadows+Into+Light|Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,400;1,500&display=swap");
@font-face {font-family: bitter; src: url(fonts/Bitter-Regular.otf);}
@font-face {font-family:concord ;src: url(fonts/Concord\ W00\ Light.ttf);}
@font-face {font-family:dd_logo ;src: url(fonts/DwarvenAxe\ BB\ W00\ Regular.ttf);}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/*Blanket Styling*/
*{box-sizing: border-box; background-repeat: no-repeat;}
body{margin: 0; padding: 0; background-color: black; cursor: url(images/dd_cursor.png), auto; overflow: hidden;}
a{text-decoration: none; color: black;}
ul{list-style-type: none; margin:0; padding: 0;}
button{background: white; border: none; width:20px}
.hidden{visibility: hidden;}

/*body {
    user-select: none;
}*/

.button_long{position: absolute; height: 4.5vw;}
.button_long:hover{filter: brightness(150%);}
.button_medium{position: absolute; height: 4.7vw;}
.button_medium:hover{filter: brightness(150%);}
.button_short{position: absolute; height: 4.3vw;}
.button_short:hover{filter: brightness(150%);}

.boss_button{position: absolute; height: 3.2vw;}
.boss_button:hover{filter: brightness(150%);}

.backdrop{
    width: 7.5vw; height: 7.1vw; position: absolute; top: -1.5vw; left: -2.2vw;
    background-image: url(images/mission_icons/quest_select_bg_fin.png);  
    background-size: 8vw;
}

.map_main{
    height: 50vw; background-image: url(images/backgrounds/dd_cln_aff.png); 
    background-size: 100vw; background-clip: content-box; 
}


.quest_box{width: 19.7vw; margin: 6vw 0 0 12%; position: absolute; visibility: hidden;}


.cc_backdrop{top: 16.3vw; left: 43.6vw;visibility: hidden;}
.cc_btn{top: 17.8vw; left: 45.5vw;}

.com_backdrop{top: 28.7vw; left: 38vw;visibility: hidden;}
.com_btn{top: 30.1vw; left: 39.8vw;}

.dds_backdrop{top: 5.2vw; left: 79vw; visibility: hidden;}
.dds_btn{top: 7.5vw; left: 81.2vw; }

.visuals_backdrop{top: 19.5vw; left: 53vw; visibility: hidden;}
.visuals_btn{top: 21vw; left: 55.2vw; }

.music_backdrop{top: 19.5vw; left: 58vw; visibility: hidden;}
.music_btn{top: 21vw; left: 60.2vw;}

.app_cleanse_backdrop{top: 11.5vw; left: 59vw; visibility: hidden;}
.app_cleanse_btn{top: 13.7vw; left: 61.2vw;}

.app_boss_backdrop{top: 11.5vw; left: 64vw; visibility: hidden;}
.app_boss_btn{top: 13vw; left: 66.2vw;}

.app_gather_backdrop{top: 11.5vw; left: 69vw; visibility: hidden;}
.app_gather_btn{top: 13vw; left: 71.2vw;}

.champ_gather_backdrop{top: 25.4vw; left: 61vw; visibility: hidden;}
.champ_gather_btn{top: 26.8vw; left: 63vw;}

.champ_boss_backdrop{top: 25.4vw; left: 66.3vw; visibility: hidden;}
.champ_boss_btn{top: 26.8vw; left: 68.3vw;}

.champ_cleanse_backdrop{top: 25.4vw; left: 71.6vw; visibility: hidden;}
.champ_cleanse_btn{top: 26.8vw; left: 73.6vw;}

.boss_box{width:19vw; margin: 7.5vw 0 0 12%; position: absolute; visibility: hidden;}

#boss1{left: 82vw; top: 20.7vw;}
#boss2{left: 85.6vw; top: 20.7vw;}
#miniboss1{left: 89.2vw; top: 21.9vw;}
#boss3{left: 82vw; top: 24.3vw;}
#boss4{left: 85.6vw; top: 24.3vw;}
#miniboss2 {left: 89.2vw; top: 25.9vw;}
#boss5{left: 82vw; top: 27.9vw;}
#boss6{left: 85.6vw; top: 27.9vw;}
#miniboss3{left: 89.2vw; top: 29.9vw;}
#boss7{left: 82vw; top: 31.5vw;}
#boss8{left: 85.6vw; top: 31.5vw;}

.bc_button{left: 81.3vw; top: 37.5vw;}
.hero_button{left: 62.5vw; top: 36.9vw;}

.back_arrow{position: absolute; top: 3.5vw; left: 13.5vw; height: 2vw;}
.back_arrow:hover{filter: brightness(150%);}

#embark_button{height: 3vw; position: absolute; top: 45vw; left: 45vw; display: none;}
#embark_button:hover{filter: brightness(170%);}

.embark_btn{height: 5vw; position: absolute; top: 45vw; left: 45vw; display: none;}
.embark_btn:hover{filter: brightness(170%);}
.dd_button{position: absolute;  width: 16vw; height: 2.3vw; margin-top: 1.1vw; }
.dd_buttontop{position: absolute; width: 16vw; margin-top: 0.4vw; }

.padding{height:10vw; width: 100vw; background-color: black;}


.heroes_main{
    background-image: url(images/backgrounds/circus.png); background-size: 100vw; 
    height: 43vw; background-clip: content-box; background-position: top;
}

.hero_port_container{
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; 
    position: absolute; top:60vw; width: 99%; margin-left: 0.4vw
}
.hero_port{width: 4.5%; display: flex; margin: -0.9vw 0.4vw 1vw 0.4vw}
.hero_port:hover{filter: brightness(150%);}

.back_hero1{width: 2vw; position: absolute; top: 60.5vw; left: 0.65vw}
.back_hero2{width: 2vw; position: absolute; top: 60.5vw; right: 0.65vw}
.back_hero1:hover{filter: brightness(150%);} 
.back_hero2:hover{filter: brightness(150%);}

.hero_panel{ margin: 0; padding:0; margin-top: 4vw; display: none;}
.char_panel{width: 94vw; height: 40vw; position: relative; margin-left: 3vw;}

.empty_space{ height: 47vw; width: 30vw; position: absolute;}

.header_bg{position: absolute; left: 6vw; top: 64.7vw;  width: 60vw; height: 6vw;}

#abombg{background-image: url(images/Hero_boxes/abomheader3.png); background-size: 44vw;}
#antibg{background-image: url(images/Hero_boxes/anti_header.png); background-size: 44vw;}
#arbbg{background-image: url(images/Hero_boxes/arb_header.png); background-size: 44vw;}
#bhbg{background-image: url(images/Hero_boxes/bh_header.png); background-size: 44vw;}
#crusbg{background-image: url(images/Hero_boxes/crus_header.png); background-size: 44vw;}
#flagbg{background-image: url(images/Hero_boxes/flag_header.png); background-size: 44vw;}
#grbg{background-image: url(images/Hero_boxes/gr_header.png); background-size: 44vw;}
#hellbg{background-image: url(images/Hero_boxes/hell_header.png); background-size: 44vw;}
#hwmbg{background-image: url(images/Hero_boxes/hwm_header.png); background-size: 44vw;}
#hmbg{background-image: url(images/Hero_boxes/hm_header.png); background-size: 44vw;}
#jesbg{background-image: url(images/Hero_boxes/jes_header.png); background-size: 44vw;}
#lepbg{background-image: url(images/Hero_boxes/lep_header.png); background-size: 44vw;}
#maabg{background-image: url(images/Hero_boxes/maa_header.png); background-size: 44vw;}
#muskbg{background-image: url(images/Hero_boxes/musk_header.png); background-size: 44vw;}
#occbg{background-image: url(images/Hero_boxes/occ_header.png); background-size: 44vw;}
#pdbg{background-image: url(images/Hero_boxes/pd_header.png); background-size: 44vw;}
#sbbg{background-image: url(images/Hero_boxes/sb_header.png); background-size: 44vw;}
#vesbg{background-image: url(images/Hero_boxes/ves_header.png); background-size: 44vw;}

.sprite_abom{position: absolute; top: 85.4vw; left: 7vw; width: 7.5vw; height: 16vw; display: none;}
.sprite_anti{position: absolute; top: 85.9vw; left: 7.2vw; width: 8.4vw; height: 16vw; display: none;}
.sprite_arb{position: absolute; top: 84.5vw; left: 4.7vw;  width: 10.5vw; height: 17vw; display: none;}
.sprite_bh{position: absolute; top: 84.9vw; left: 6.7vw; width: 9vw; height: 16.7vw; display: none;}
.sprite_crus{position: absolute; top: 82.7vw; left: 6.7vw; width: 9.5vw; height: 19vw; display: none;}
.sprite_flag{position: absolute; top: 85vw; left: 6vw; width: 11vw; height: 16.5vw;  display: none;} 
.sprite_gr{position: absolute; top: 84vw; left: 6.8vw; width: 8.3vw; height: 17.5vw; display: none;}
.sprite_hell{position: absolute; top: 81.5vw; left: 7.8vw; width: 10vw; height: 20vw; display: none;}
.sprite_hwm{position: absolute; top: 84.5vw; left: 7.3vw; width: 10vw; height: 17.1vw; display: none;}
.sprite_hm{position: absolute; top: 85.7vw; left: 4.5vw; width: 15vw; height: 16vw; display: none;}
.sprite_jes{position: absolute; top: 85.3vw; left: 6.5vw; width: 12vw; height: 16vw; display: none;}
.sprite_lep{position: absolute; top: 84vw; left: 6vw; width: 9.2vw; height: 17.5vw; display: none;}
.sprite_maa{position: absolute; top: 85.3vw; left: 6vw; width: 12vw; height: 16vw; display: none;}
.sprite_musk{position: absolute; top: 82.5vw; left: 7vw; width: 8.1vw; height: 19vw; display: none;}
.sprite_occ{position: absolute; top: 85.2vw; left: 6.8vw;  width: 10vw; height: 16.8vw; display: none;}
.sprite_pd{position: absolute; top: 85.6vw; left: 5.8vw; width: 11vw; height: 16vw; display: none;}
.sprite_sb{position: absolute; top: 84.5vw; left: 6.7vw; width: 8.5vw; height: 16.8vw;  display:none;}
.sprite_ves{position: absolute; top: 85.1vw; left: 6.5vw; width: 10vw; height: 16.5vw; display: none;}


.shadow{position: absolute; top: 99.5vw; left: 6.6vw; width: 10vw; height: 4vw; } 
.shadow_big{position: absolute; top: 89.5vw; left: 5vw; width: 12vw; height: 4.2vw; display: none;} 


.rename_button{position: absolute; top: 65.3vw; left: 4.4vw; width: 1.6vw;} 
.close_btn{position: absolute; top: 64.5vw; right: 3.6vw; width: 1.6vw;} 
.swapskin_btn{position:absolute; left: 3.6vw; top: 101.5vw; width: 1.6vw;}
.rename_button:hover{filter: brightness(150%);}
.close_btn:hover{filter: brightness(150%);}
.swapskin_btn:hover{filter: brightness(150%);}

.info{position: absolute; width: 1.7vw;} 
.info:hover{filter: brightness(150%);}
.infobox{display: flex; justify-content: center;
        position: absolute; top: 87.6vw;left: 89.8vw; height: 2.2vw; width: 2.4vw;}

.infodesc{position: absolute;top: 87.5vw ; left: 83.3vw; padding: 0.1vw 0.2vw; display: none;
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 0.8vw; line-height: 1.4vw;
    height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);}


.pref_position_container{position:absolute; top: 70vw; left: 58.45vw;  
    height: 2.9vw; width: 13.3vw; display: flex; justify-content: space-evenly; } 

.pref_target_container{position:absolute; top: 70vw; left: 79.25vw;  
    height: 2.9vw; width: 13.3vw; display: flex; justify-content: space-evenly; } 


.pref_pos{height: 0.8vw; width:1vw;  border-radius: 2vw; background-color:rgb(199, 179, 107); }
.pref_target{height: 0.8vw; width:1vw;  border-radius: 2vw; background-color:red;}


.pos4_1{position:absolute; left: 1.2vw; top: 0.97vw;}
.pos3_2{position: absolute; left: 4.45vw; top: 0.97vw}
.pos2_3{position: absolute; left: 7.65vw; top: 0.97vw}
.pos1_4{position:absolute; left: 10.9vw; top: 0.97vw}


.barely_pref{filter: brightness(40%)}
.strong_pref{filter: brightness(165%);}
.med_pref{filter: brightness(75%);}

.pref_pos_header{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;
    position: absolute; top: 68.8vw; left: 46.2vw;
   height: 2vw; width: 25vw; text-align: center;} 

.pref_target_header{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;
    position: absolute; top: 68.8vw; left: 78.7vw;
   height: 2vw; width: 25vw; text-align: center;} 


.prev_btn{position: absolute; top: 104vw; left: 85vw; width: 5vw; height: 2.6vw; display: none;}
.next_btn{position: absolute; top: 104vw; left: 90vw; width: 5vw; height: 2.6vw; display: none;}
.prev_btn:hover{filter: brightness(150%);}
.next_btn:hover{filter: brightness(150%);}


.hero_header{color: rgb(199, 179, 107); font-family: dd_logo ; font-size: 2.6vw;
             position: absolute; top: 64.6vw; left: 6.7vw;}
.quotebox{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; font-weight: bold;
         position: absolute; top: 67.1vw; left: 6.7vw;} 
.box_text{display: none;}


.quirk_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
     position: absolute; top: 70.5vw; left: 17.7vw;
    height: 2vw; width: 34.3vw; text-align: center;} 

.char_review{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
    position: absolute; top: 81.8vw; left: 17.7vw;
    height: 2vw; width: 34.3vw; text-align: center;}

.skill_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
    position: absolute; top: 66.5vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.camp_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
    position: absolute; top: 78.9vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.resist_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
    position: absolute; top: 87.4vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.stat_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;
    position: absolute; top: 96.1vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}


.posquirk_text{ color: rgb(199, 179, 107); font-family:  'Ubuntu', sans-serif; font-size: 1vw; font-weight: 500; line-height: 1.5vw;
            position:absolute; top: 73vw; left: 18.5vw;  transform: scaleX(1.1);
}

.negquirk_text{ color: rgb(160, 43, 32); font-family:  'Ubuntu', sans-serif; font-size: 1vw; font-weight: 500; line-height: 1.5vw;
    position:absolute; top: 73vw; left: 38.5vw;  transform: scaleX(1.1); 
    display: flex;  width: 13vw; height: 30vw;  direction: rtl;
}
.negflex {display: flex;}

.resolve{position:absolute; top: 70vw; left: 9.4vw; width: 2.7vw }

.canon_name{color: rgb(199, 179, 107); font-family:  dd_logo; font-size: 1.5vw; 
    position:absolute; top: 75.8vw; left: 7.5vw; transform: scaleX(1.2);
    width: 7vw; height: 2vw; ; text-align: center;}

.res_icon {width: 1.5vw}

.resist_text{position: absolute; top: 89.8vw; left: 57.3vw; 
             width: 35vw; height: 6.5vw; display: flex;
             font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;}

.resist1{height: 6.5vw; width: 17vw; display: flex; direction: rtl; flex-direction: column;}
.resist2{height: 6.5vw; width: 19vw;  display: flex; direction: rtl; flex-direction: column;}

.equipment{height: 7vw; margin: 0 0.2vw; padding: 0;}
.equipment:hover{filter: brightness(150%);}
.equip_box{display: flex;margin-left: 1vw;}

.statline_container{position: absolute; top: 96vw; left: 65vw;
    height:7.2vw; width:40vw;
    display: flex; justify-content: start; flex-direction: row;}


.stat_box{position: absolute; top: 96.2vw; left: 55vw;
             height:7.2vw; width:40vw;
             display: flex; justify-content: start; flex-direction: row;}

.stats_box1{position: absolute;}
.stats_box2{position: absolute; left: 17vw}

.numbers_container{position:absolute; width: 25vw;}
.numbers_box1{height:7vw; position:absolute; left: 19vw; top: -0.2vw; width: 35vw}
.numbers_box2{height: 7vw;position: absolute; left: 34vw; top: -0.2vw; width:15vw}
.statline{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1vw;
     line-height: 1.2vw; text-align: start;}

.equip_desc{position: absolute; top: -2.6vw;
    height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif; color: rgb(206, 58, 33); font-size: 1vw; line-height: 1.5vw; font-weight: 500;
    text-align: center; padding:0.2vw; display: none;
}

#weaponabom{left:-1vw}  #armorabom{left:2vw}
#weaponanti{left:-1.2vw}  #armoranti{left:0.5vw}
#weaponarb{left:0.5vw}  #armorarb{left:4.3vw}
#weaponbh{left:-1.3vw}  #armorbh{left:3.3vw}
#weaponcrus{left:-1vw}  #armorcrus{left:2vw}
#weaponflag{left:0vw}  #armorflag{left:3vw}
#weapongr{left:-1vw}  #armorgr{left:3.6vw}
#weaponhell{left:-1.1vw}  #armorhell{left:3.7vw}
#weaponhwm{left:-2.6vw}  #armorhwm{left:2.5vw}
#weaponhm{left:0.1vw}  #armorhm{left:2.4vw}
#weaponjes{left:-0.6vw}  #armorjes{left:2vw}
#weaponlep{left:-1.3vw}  #armorlep{left:3.6vw}
#weaponmaa{left:0vw}  #armormaa{left:3.5vw}
#weaponmusk{left:0.4vw}  #armormusk{left:1vw}
#weaponocc{left:-1.3vw}  #armorocc{left:2.7vw}
#weaponpd{left:-1.9vw}  #armorpd{left:1.3vw}
#weaponsb{left:-1vw}  #armorsb{left:4.8vw}
#weaponves{left:-1.3vw}  #armorves{left:1.6vw}





.highres{color: rgb(199, 179, 107); }
.highest{filter: brightness(150%); color: yellow;}
.lowres {color: rgb(160, 43, 32);}
.lowest {filter: brightness(70%);}
.normal {color: rgb(173, 172, 167)}
.stun {color:rgb(221, 175, 62)}
.blight{color:rgb(185, 191, 65)}
.heal{color:rgb(133, 189, 62)}
.stress{color:white}
.chance {color: rgb(94, 95, 94)}
.debuff{color:rgb(177, 108, 49)}
.buff{color:rgb(117, 190, 197)}
.bleed{color:rgb(141, 14, 16)}
.move{color:rgb(92, 129, 145)}
.disease{color:rgb(116, 125, 78)}
.mark{color:rgb(141, 15, 26)}
.stealth{color: rgb(79, 71, 124)}
.scouting {color: rgb(69, 123, 112)}
.block{color: rgb(93, 83, 43)}
.aegis{width: 1.5vw; margin: 0;  margin-top:-0.25vw; padding:0; position: absolute;}

.attack_type{color:rgb(140, 123, 95)}
.camp_title{font-size: 1vw; line-height: 1.2vw;}
.skill_title{font-size: 1vw; font-weight: 400;}

.pos_ally{width: 0.5vw; height: 0.5vw;  border-radius: 0.5vw; margin: 0 0.15vw; background-color: rgb(199, 179, 107); }
.pos_enemy {width: 0.5vw; height: 0.5vw;  border-radius: 0.5vw; margin: 0 0.15vw; background-color: rgb(160, 43, 32);}


.combat_skill_container{position: absolute; top: 73.5vw; left: 57.7vw;
                        width: 35vw; height: 5vw;
                        display: flex; justify-content: center;}

.camping_skill_container{position: absolute; top: 82vw; left: 57.7vw;
                         width: 35vw; height: 5vw;
                         display: flex; justify-content: center;}

.desc_box{position: absolute; top: 4.4vw; left: -3vw;
         height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
         font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 0.8vw; line-height: 1.5vw; font-weight: 500;
         text-align: center; padding: 0 0.6vw 0.3vw 0.6vw; display: none;
}

.camp_desc{position: absolute; top: 4.4vw; left:2vw;
    height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 0.8vw; line-height: 1.5vw; font-weight: 500;
    text-align: center; padding: 0.2vw 0.6vw 0.3vw 0.6vw; display: none;
}
.uses_text{font-family: 'Ubuntu', sans-serif; color: rgb(199, 179, 107); line-height: 1vw; margin-top: 0.3vw;}


.ability_grid{width: 4.4vw; height:4.8vw; position: absolute; top: -0.6vw;} 
.skill_icon{height: 4vw; width: 4vw; margin: 0 0.3vw; position: relative}
.skill:hover .skill_icon {filter: brightness(150%);}

#grid1{ left: 1.5vw; }
#grid2{ left: 6.1vw; }
#grid3{ left: 10.7vw; }
#grid4{ left: 15.3vw; }
#grid5{left: 19.85vw;}
#grid6{ left: 24.45vw; }
#grid7{ left: 29.1vw; }

#FlagGrid1{left:8.4vw;}
#FlagGrid2{left:13vw;}
#FlagGrid3{left:17.6vw;}
#FlagGrid4{left:22.2vw;}

#combatabom1{left: -5.3vw}
#combatabom2{ left: 3.5vw;}
#combatabom3{ left: 2.9vw}
#combatabom4{ left: 14.7vw}
#combatabom5{ left: 17vw}
#combatabom6{ left: 22vw}
#combatabom7{ left: 21.3vw}

#restabom1{ left: 11.6vw;}
#restabom2{ left: 16.5vw;}
#restabom3{ left: 20vw;}
#restabom4{ left: 26.3vw;}

#combatanti1{left:-1vw}
#combatanti2{ left:-1.6vw;}
#combatanti3{ left: 6.3vw}
#combatanti4{ left: 11.5vw}
#combatanti5{ left: 17vw}
#combatanti6{ left: 22.2vw}
#combatanti7{ left: 25.7vw}

#restanti1{ left: 11.1vw;}
#restanti2{ left: 16.5vw;}
#restanti3{ left: 20.1vw;}
#restanti4{ left: 25.2vw;}

#combatarb1{left: -1.3vw;}
#combatarb2{ left: 2.1vw;}
#combatarb3{ left: 6.4vw}
#combatarb4{ left: 12vw}
#combatarb5{ left: 17.3vw}
#combatarb6{ left: 20vw}
#combatarb7{ left: 24.5vw}

#restarb1{ left: 11.6vw;}
#restarb2{ left: 17.4vw;}
#restarb3{ left: 18.8vw;}
#restarb4{ left: 27.7vw;}

#combatmusk1{left: -1.3vw;}
#combatmusk2{ left: 2.1vw;}
#combatmusk3{ left: 6.4vw}
#combatmusk4{ left: 12vw}
#combatmusk5{ left: 17.3vw}
#combatmusk6{ left: 20vw}
#combatmusk7{ left: 24.5vw}

#restmusk1{ left: 11.6vw;}
#restmusk2{ left: 17.4vw;}
#restmusk3{ left: 18.8vw;}
#restmusk4{ left: 27.7vw;}


#combatbh1{left: -1.1vw}
#combatbh2{ left: 1.3vw;}
#combatbh3{ left: 8.2vw}
#combatbh4{ left: 11.8vw}
#combatbh5{ left: 17.5vw}
#combatbh6{ left: 21.8vw}
#combatbh7{ left: 21.2vw}

#restbh1{ left: 11.4vw;}
#restbh2{ left: 12.5vw;}
#restbh3{ left: 20vw;}
#restbh4{ left: 24vw;}

#combatcrus1{left: -1vw}
#combatcrus2{ left: 3.35vw;}
#combatcrus3{ left: 8.2vw}
#combatcrus4{ left: 12.7vw}
#combatcrus5{ left: 18.8vw}
#combatcrus6{ left: 21.8vw}
#combatcrus7{ left: 28.2vw}

#restcrus1{ left: 11.4vw;}
#restcrus2{ left: 16.2vw;}
#restcrus3{ left: 21.5vw;}
#restcrus4{ left: 25vw;}

#combatflag1{left: -4.1vw}
#combatflag2{ left: -2vw;}
#combatflag3{ left: -1.2vw}
#combatflag4{ left: 10vw}
#combatflag5{ left: 8.1vw}
#combatflag6{ left: 23.5vw}
#combatflag7{ left: 21vw}

#restflag1{ left: 6.4vw;}
#restflag2{ left: 10.9vw;}
#restflag3{ left: 16vw;}
#restflag4{ left: 20.6vw;}

#combatgr1{left: -1vw}
#combatgr2{ left: 3.4vw;}
#combatgr3{ left: 5.3vw}
#combatgr4{ left: 5.7vw}
#combatgr5{ left: 12.6vw}
#combatgr6{ left: 16.3vw}
#combatgr7{ left: 26.9vw}

#restgr1{ left: 13.5vw;}
#restgr2{ left: 16.7vw;}
#restgr3{ left: 19.6vw;}
#restgr4{ left: 24.7vw;}

#combathell1{left: -1vw}
#combathell2{ left: 3.8vw;}
#combathell3{ left: 6vw}
#combathell4{ left: 12.9vw}
#combathell5{ left: 11.7vw}
#combathell6{ left: 22.55vw}
#combathell7{ left: 20.65vw}

#resthell1{ left: 9.1vw;}
#resthell2{ left: 17vw;}
#resthell3{ left: 21vw;}
#resthell4{ left: 26.5vw;}

#combathwm1{left: -1.2vw}
#combathwm2{ left: 3.5vw;}
#combathwm3{ left: 7.2vw}
#combathwm4{ left: 10.1vw}
#combathwm5{ left: 11.75vw}
#combathwm6{ left: 14.2vw}
#combathwm7{ left: 21.1vw}

#resthwm1{ left: 12.1vw;}
#resthwm2{ left: 14.7vw;}
#resthwm3{ left: 19.5vw;}
#resthwm4{ left: 22.3vw;}

#combathm1{left: -1vw}
#combathm2{ left: 3.5vw;}
#combathm3{ left: 6.3vw}
#combathm4{ left: 12.5vw}
#combathm5{ left: 17.9vw}
#combathm6{ left: 23.5vw}
#combathm7{ left: 26.7vw}

#resthm1{ left: 8.6vw;}
#resthm2{ left: 17.2vw;}
#resthm3{ left: 21.5vw;}
#resthm4{ left: 24.7vw;}

#combatjes1{left: -0.9vw}
#combatjes2{ left: 1vw;}
#combatjes3{ left: 0.6vw}
#combatjes4{ left: 3.5vw}
#combatjes5{ left: 11.7vw;}
#combatjes6{ left: 21.4vw}
#combatjes7{ left: 26vw}

#restjes1{ left: 13vw;}
#restjes2{ left: 14.9vw;}
#restjes3{ left: 22.2vw;}
#restjes4{ left: 26.9vw;}

#combatlep1{left: -1.1vw}
#combatlep2{ left: 3.5vw;}
#combatlep3{ left: 2.5vw}
#combatlep4{ left: 5.1vw}
#combatlep5{ left: 19.3vw}
#combatlep6{ left: 16.1vw}
#combatlep7{ left: 24.7vw}

#restlep1{ left: 11.6vw;}
#restlep2{ left: 15.7vw;}
#restlep3{ left: 22.3vw;}
#restlep4{ left: 26.1vw;}

#combatmaa1{left: -1vw}
#combatmaa2{ left: 2.8vw;}
#combatmaa3{ left: 0.7vw}
#combatmaa4{ left: 13.6vw}
#combatmaa5{ left: 5.4vw}
#combatmaa6{ left: 19.9vw}
#combatmaa7{ left: 26.7vw}

#restmaa1{ left: 11.4vw;}
#restmaa2{ left: 17.2vw;}
#restmaa3{ left: 22.5vw;}
#restmaa4{ left: 24.2vw;}

#combatocc1{left: -1.1vw}
#combatocc2{ left: 3.5vw;}
#combatocc3{ left: 6.2vw}
#combatocc4{ left: 13vw}
#combatocc5{ left: 15.5vw}
#combatocc6{ left: 22.1vw}
#combatocc7{ left: 26.8vw}

#restocc1{ left: 12vw;}
#restocc2{ left: 14.2vw;}
#restocc3{ left: 21.9vw;}
#restocc4{ left: 24.5vw;}

#combatpd1{left: -3.7vw}
#combatpd2{ left: 3.6vw;}
#combatpd3{ left: 8.3vw}
#combatpd4{ left: 12.8vw}
#combatpd5{ left: 17.2vw}
#combatpd6{ left: 22vw}
#combatpd7{ left: 24.4vw}

#restpd1{ left: 10.3vw;}
#restpd2{ left: 18.3vw;}
#restpd3{ left: 20vw;}
#restpd4{ left: 26.3vw;}

#combatsb1{left: -1.1vw}
#combatsb2{ left: -0.9vw;}
#combatsb3{ left: 8.3vw}
#combatsb4{ left: 12.9vw}
#combatsb5{ left: 12vw}
#combatsb6{ left: 22vw}
#combatsb7{ left: 27.3vw}

#restsb1{ left: 10.2vw;}
#restsb2{ left: 16.7vw;}
#restsb3{ left: 20.1vw;}
#restsb4{ left: 25.7vw;}

#combatves1{left: -1vw}
#combatves2{ left: 3.5vw;}
#combatves3{ left: 8.6vw}
#combatves4{ left: 14.5vw}
#combatves5{ left: 18.7vw}
#combatves6{ left: 20.2vw}
#combatves7{ left: 26.7vw}

#restves1{ left: 12.7vw;}
#restves2{ left: 14.1vw;}
#restves3{ left: 19.1vw;}
#restves4{ left: 25.7vw;}

#genericamp1{ left: 0vw}
#genericamp2{ left: 4.5vw}
#genericamp3{left: 7.9vw}



.pos_dot{width: 0.5vw; height: 0.5vw; background-color: rgb(54, 54, 55); border-radius: 0.5vw; margin: 0 0.15vw;}
.pos_container{display: flex; justify-content: center; margin-top: 0.4vw; margin-bottom: 0.2vw;}
.blank_space{width: 1.5vw}
.desc_text{line-height: 1vw;}
.cleave_double{border-top:0.18vw solid rgb(160, 43, 32); width:1.2vw;
    position: absolute; top: 0.6vw;}

.cleave_triple{border-top:0.18vw solid rgb(160, 43, 32); width:1.8vw;
        position: absolute; top: 0.6vw;}

.quad_cleave{border-top:0.18vw solid rgb(160, 43, 32); width:2.4vw;
    position: absolute; top: 0.6vw;}
.pos2_3abom{left: 11.55vw}
.pos1_2abom{left: 6vw}

.pos1_2arbmusk{left: 6.2vw}
.pos3_4arbmusk{left: 8.7vw}
.quad_arbmusk{left:7.7vw}

.pos1_2crus{left:5.5vw}

.pos3_4flag{left:12.6vw}

.pos2_3gr{left: 9.3vw;}

.pos1_2hell{left:7.6vw; top: 1.9vw}
.pos1_2_3hell{left:11vw;}

.pos1_2_3hwm{left:10.1vw;}

.quad_hm{left:5.5vw;}

.quad_jes{left:15.1vw; top: 1.9vw;}
.pos2_3jes{left:9vw;}

.pos1_2lep{left:5.5vw;}

.quad_maa{left:13vw}

.pos3_4occ{left: 7.2vw;}

.pos3_4pd1{left:7.1vw}
.pos3_4pd2{left:7.1vw; top: 1.9vw;}

.quad_sb{left: 5.6vw}
