@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {font-family:dd_logo ;src: url(fonts/DwarvenAxe\ BB\ W00\ Regular.ttf);}



/*Blanket Styling*/
*{box-sizing: border-box; background-repeat: no-repeat;position: relative;}
body{margin: 0; padding: 0; background-color: black; cursor: url(images/dd_cursor.png), auto; overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;}
a{text-decoration: none; color: black;}
ul{list-style-type: none; margin:0; padding: 0;}
button{background: white; border: none; width:20px}
.hidden{visibility: hidden;}
.visible{display: block;}
.nondisplay{display: none;}
.ddlogo_text{font-family: dd_logo; color: rgb(199, 179, 107); font-weight: 400;}
.general_desc{position: absolute; width:max-content; display:none;
    border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.9);
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1vw; line-height: 1.3vw; font-weight: 500;
    text-align: center; padding: 0.3vw 0.6vw 0.6vw 0.6vw;
}
.test_desc{position: absolute; width:max-content; 
    border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1vw; line-height: 1.3vw; font-weight: 500;
    text-align: center; padding: 0.3vw 0.6vw 0.6vw 0.6vw;
}
.bordered{border: 1px solid red;}
.description{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1vw; line-height: 1.3vw;}
.hoverable:hover{filter: brightness(150%);}
.fit_width{width:fit-content}
.align_end{text-align: end;}
.wrap{flex-wrap: wrap;}
.nowrap{flex-wrap: nowrap;}
.center_align{text-align: center;}

/*body {
    user-select: none;
}*/

/*General Button Styling*/
.button_long{position: absolute; height: 4vw;}
.button_long:hover{filter: brightness(150%);}
.button_medium{position: absolute; height: 3.8vw;}
.button_medium:hover{filter: brightness(150%);}
.button_short{position: absolute; height: 3.3vw;}
.button_short:hover{filter: brightness(150%);}

.boss_button{position: absolute; height: 3.2vw; display: none;}
.boss_button:hover{filter: brightness(150%);}

/*Universal info*/
.info{position: absolute; left: 1.2vw; top: 1.2vw; width: 2vw;} 
.info:hover{filter: brightness(150%);}
.info_med{position: absolute; left: 1.2vw; top: 1.2vw; width: 2.5vw;} 
.info_med:hover{filter: brightness(150%);}

/*Map Styling*/
.backdrop{
    width: 7vw; height: 6.6vw; position: absolute; top: -1.5vw; left: -2.2vw;
    background-image: url(images/mission_icons/quest_select_bg_fin.png);  
    background-size: 6.5vw;
}

.map_main{
    height: 50vw; background-image: url(images/backgrounds/quest_bg.png); 
    background-size: 100vw; background-clip: content-box; 
}

/*Label Styling*/
.dungeon_label{width: 17vw; height:4.5vw; position: absolute;}
.crimson_label{top: 14vw; left: 36vw;}
.crimson_label_right{position: absolute; top: 13.3vw; left: 47.5vw; width: 5.5vw;}
.madness_label{top: 26.5vw; left: 35vw}
.madness_labeltxt{position: absolute; top: 26.8vw; left: 37.5vw;
     font-family: dd_logo;  color: rgb(199, 179, 107); font-size: 1.7vw;}

.final_gauntlet_label{top: 4vw; left: 78.5vw; }
.ruins_label{top: 9.5vw; left: 58.3vw}
.warrens_label{ top: 17.5vw; left: 50vw;}
.weald_label{ top:23vw; left:62vw}
.cove_label{top: 17.4vw; left: 78vw;}
.hamlet_label{top: 34.5vw; left: 79vw}

/*Side/Bottom Button Styling*/

.hero_button{width: 5vw;height: 5vw;left: 33.5vw; top: 40.4vw;}
.provision_btn{width:5vw; position: absolute; top: 40.4vw; left: 41vw;}
.loot_btn{position: absolute; width: 5vw;height: 5vw;left: 26.6vw; top: 40.4vw;}
.bc_button{left:3vw; position: absolute; top: 27.7vw; width: 5.5vw;}
.sb_dlc_btn{width: 4.5vw; height: 4.5vw; position: absolute; top: 38vw; left: 3.7vw}
.disease_btn{position: absolute; width: 5vw;height: 5vw;left: 19.5vw; top: 40.4vw;}
.mod_btn{position: absolute; width: 5vw;height: 5vw;left: 12.5vw; top: 40.4vw;}


.hero_btn_label{ font-size: 1.9vw; position: absolute; top: 45.7vw; left: 32.6vw;}
.provision_btn_label{ font-size: 1.9vw; position: absolute; top: 45.7vw;left: 40.4vw;}
.loot_btn_label{ font-size: 1.9vw;position: absolute; top: 45.7vw;left: 26vw;}
.circus_btn_label{ font-size: 1.9vw;position: absolute; top: 33.2vw;left: 1.5vw;text-align: center;}
.sb_dlc_btn_label{ font-size: 1.9vw;position: absolute; top: 43.4vw;left: 1.5vw;text-align: center;}
.disease_btn_label{ font-size: 1.9vw;position: absolute; top: 45.7vw;left: 19.4vw;}
.mod_btn_label{ font-size: 1.9vw;position: absolute; top: 45.7vw;left: 13.2vw;}

.provision_btn:hover{filter: brightness(150%);}
.loot_btn:hover{filter: brightness(150%);}
.bc_button:hover{filter: brightness(150%);}
.sb_dlc_btn:hover{filter: brightness(150%);}
.disease_btn:hover{filter: brightness(150%);}
.mod_btn:hover{filter: brightness(150%);}

.non_dlc_label{position: absolute; top: 38vw;left:23.8vw;
    font-family: 'Ubuntu', sans-serif; color:rgb(93, 91, 79);font-size: 1.3vw; font-weight: 800;}
/*General Box, Button and Backdrop Styling*/


.crimson_backdrop{top: 16vw; left: 34vw;display: none;}
.crimson_btn{top: 17.2vw; left: 35.4vw;}

.madness_backdrop{top: 28.3vw; left: 32.9vw;display: none;}
.madness_btn{top: 29.4vw; left: 34.2vw;}

.gauntlet_backdrop{top: 5.7vw; left: 76.5vw; display: none;}
.gauntlet_btn{top: 7.6vw; left: 78.2vw; }


.ruins_enemy_backdrop{top: 11.4vw; left: 56.2vw; display: none;}
.ruins_enemy_btn{top: 12.6vw; left: 58vw;}

.ruins_curio_backdrop{top: 11.4vw; left: 60.4vw; display: none;}
.ruins_curio_btn{top: 12.6vw; left: 62.2vw;}

.ruins_boss_backdrop{top: 11.4vw; left: 64.6vw; display: none;}
.ruins_boss_btn{top: 12.6vw; left: 66.4vw;}


.weald_enemy_backdrop{top: 25vw; left: 59.7vw; display: none;}
.weald_enemy_btn{top: 26.2vw; left: 61.5vw;}

.weald_curio_backdrop{top: 25vw; left: 63.8vw; display: none;}
.weald_curio_btn{top: 26.2vw; left: 65.6vw;}

.weald_boss_backdrop{top: 25vw; left: 67.9vw; display: none;}
.weald_boss_btn{top: 26.2vw; left: 69.7vw;}


.warrens_enemy_backdrop{top: 19.5vw; left: 47.9vw; display: none;}
.warrens_enemy_btn{top: 20.7vw; left: 49.7vw; }

.warrens_curio_backdrop{top: 19.5vw; left: 52.1vw; display: none;}
.warrens_curio_btn{top: 20.7vw; left: 53.9vw;}

.warrens_boss_backdrop{top: 19.5vw; left: 56.3vw; display: none;}
.warrens_boss_btn{top: 20.7vw; left: 58.1vw;}


.cove_enemy_backdrop{top: 19.4vw; left: 76.2vw; display: none;}
.cove_enemy_btn{top: 20.6vw; left: 78vw; }

.cove_curio_backdrop{top: 19.4vw; left: 80.3vw; display: none;}
.cove_curio_btn{top: 20.6vw; left: 82.1vw;}

.cove_boss_backdrop{top: 19.4vw; left: 84.4vw; display: none;}
.cove_boss_btn{top: 20.6vw; left: 86.2vw;}


.shared_enemy_backdrop{top: 36.6vw; left: 77.2vw; display: none;}
.shared_enemy_btn{top: 37.8vw; left: 79vw;}

.shared_curio_backdrop{top: 36.6vw; left: 81.4vw; display: none;}
.shared_curio_btn{top: 37.8vw; left: 83.2vw;}

.shared_boss_backdrop{top: 36.6vw; left: 85.6vw; display: none;}
.shared_boss_btn{top: 37.8vw; left: 87.4vw;}


.quest_box{width: 24vw;height: 38.4vw; position: absolute; display: none; left: 9vw; top: 6.9vw; padding-left:1vw;
    background-image: url('images/Boxes/quest_textbox.png'); background-size: 24vw;}


/*Enemy Monster info*/
.enemy{background-image: url('images/Boxes/quest_textbox_enemy.png'); background-size: 24vw;
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);font-size: 1.3vw; line-height: 1.8vw; font-weight: 500;}

.enemy_sprite{position: absolute; top: 1.2vw ;max-width: 12vw;max-height: 14vw; left:1vw;}
.enemy_small_sprite{position: absolute; top: 4vw ;max-width: 10vw;max-height: 10vw; left:1.3vw;}
.enemy_tall_sprite{position: absolute; top: -1.2vw; max-width: 12vw; max-height: 15vw; left: 2.2vw}
.enemy_medtall_sprite{position: absolute; top: 0vw; max-width: 12vw; max-height: 13.5vw; left: 1.4vw}
.enemy_size2_sprite{position: absolute; top: 0.2vw; max-width: 16vw;max-height: 14vw; left: 0vw}

.monster_name_veryshort{font-size: 2.1vw;  margin:0.3vw 0; position: absolute; top: 11.3vw; right:4.5vw }
.monster_name_short{font-size: 2.1vw;  margin:0.3vw 0; position: absolute; top: 11.3vw; right:3vw ;}
.monster_name_medium{font-size: 2.1vw;  margin:0.3vw 0; position: absolute; top: 11.3vw; right:2vw }

.enemy_sprite_container{ display: none}
.enemy_stats_container{position: absolute; top:14vw;  width: 23.7vw; height:15vw; left: -0.2vw; padding-left: 1vw;}
    
.desc_toggle{width: 9vw; margin-right: 2.5vw; margin-left: 0vw;}
.enemy_strat {position: absolute; top:17.7vw;  width: 23.7vw; height:20.5vw; left: -0.3vw; background-color: black; 
     display: none; font-size: 1.15vw; padding:0 0.2vw; text-align: center;}
.sentence_margin{margin-bottom: 13vw;}
.enemy_skill_container{position:absolute; width: 23.7vw; top: 29.2vw; left: 1vw;line-height: 2.2vw; display: none}
.enemy_skill_desc_container{position: absolute; top: 26.4vw; left: 23.8vw; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8); padding:0.3vw 0.4vw 0.3vw 0.4vw;
                            text-align: center; width:max-content; font-size: 1vw; line-height: 1.5vw; display: none;}

.enemy_toggle_btn1{width: 8vw; position: absolute; left: 2vw; top:0.5vw; display: none}
.enemy_toggle_btn2{width: 8vw; position: absolute; left: 13.5vw; top:0.5vw; display: none;}
.enemy_toggle_btn1:hover{filter: brightness(150%);}
.enemy_toggle_btn2:hover{filter: brightness(150%);}


.position_icons{max-width: 10vw; height: 1vw;}

.enemy_numbers1{position: absolute; top:3.45vw; left: 6.7vw; }
.enemy_numbers2{position: absolute; top:3.53vw; left: 19.5vw; }
.enemy_numbers3{position: absolute; top:9.15vw; left: 6.7vw; line-height: 1.9vw; }
.enemy_numbers4{position: absolute; top:9.15vw; left: 19.5vw; line-height: 1.9vw; }

.content_sidenav{position: absolute; left: 23vw; top:0vw; width: 10vw;height:20vw; 
display: flex; flex-direction: row; flex-wrap: wrap; background-color: black; justify-content: center;}

.sidenav9_long{height: 15.3vw; width: 14.6vw}
.sidenav9{height: 24.3vw}
.sidenav13{height: 24.7vw; width: 14.6vw}
.sidenav10{height: 19.5vw; width: 14.6vw}

.enemy_port{display: flex; height: 4vw; margin: 0.3vw}
.enemy_port:hover{filter: brightness(150%);}

.lvl_btn{height: 2vw; position: absolute; left: 17vw; display: none;}
.lvl_btn:hover{filter: brightness(150%);}
.app_lvl{top: 1vw; left:18vw}
.vet_lvl{top: 3.5vw;left:18vw}
.champ_lvl{top: 6vw; left: 16.6vw;}
.darkest_lvl{top: 1vw; left: 16vw;}

.statskill_icon{width: 2vw;}

.hide_headers{position: absolute; top: 15vw; left: -0.3vw;  width: 24vw; height: 23vw; background-color: black;}

/*Curio info*/

.curio{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);font-size: 1.3vw; line-height: 1.9vw; font-weight: 500;}

.curio_top_container{position: absolute; top: 0.6vw; left: 0vw;width: 23.7vw; height: 20vw; /*border: 1px solid red;*/
text-align: center;}
.curio_info{position: absolute; right: 1.5vw; top:0.1vw; width: 2vw;} 
.curio_info:hover{filter: brightness(150%);}
.result_icon{width: 1.4vw; position: absolute; padding-top: 0.2vw;}
.provision_inter_icon{max-width: 1.4vw; max-height: 2vw;  position: absolute; padding-top: 0.3vw; left: 0.7vw}
.result_desc{margin-left: 2vw;}

.curio_result{ left: 23vw; top: 27.7vw; text-align:start; padding-bottom:0.4vw; line-height: 2vw}
.room_interact{top: 24.7vw;}

.forced_universal{left: 22.5vw; top: -0.5vw}

.interaction_desc{position: absolute; left: 23w; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8); padding:0.3vw 0.5vw 0.3vw 0.4vw;
     width:max-content; font-size: 1.1vw; line-height: 1.8vw; display: none;}

.curio_interaction_container{position: absolute; top: 27vw; left: 0vw;width: 23.7vw; height: 10vw;
                             display: flex; justify-content: center;}
.room_curio{top: 24vw;}
.curio_sprite{max-height: 10vw; max-width: 16vw;}
.room_sprite{max-height: 13vw; max-width: 20vw;}
.curio_name{font-size: 2vw; padding-bottom: 0.3vw}

.interact_item{width: 4vw; height: 8vw; margin: 1vw 1.5vw;}
.interact_item:hover{filter: brightness(150%);}

.curio_port{display: flex; height: 4vw; margin: 0.3vw}
.curio_port:hover{filter: brightness(150%);}

/*Boss Monster info*/
.boss_box{width: 75vw; height: 40vw; position: absolute; left: 11vw; top: 6vw; display: none; font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);
    background-image: url(images/Boss_monsters/boss_panel_template.png);background-size: 75vw;}
/*Boss Sprite Styling*/
.boss_sprite{position:absolute;top: 2vw; left: 2.1vw; max-width: 16vw; max-height:14.5vw;}
.tall_boss{max-width: 15vw; max-height: 18vw;}
.med_short_boss{top: 3vw}
.short_boss{top:4.5vw}
.thin_boss{left: 6vw;}
.medium_boss{left: 3.5vw}

/*Flesh Sprite*/
.flesh_sprite_container{position:absolute; left:1.5vw; top:3vw; height: 10vw; width: 19vw; }
.quad_sprite{ position: absolute;max-height: 9vw; max-width: 5.5vw; }

.heart_sprite{left: 3.8vw;top: 4.2vw;}
.bone_sprite{left: 7.6vw;top:0vw}
.head_sprite{left:11.8vw; top: 1.3vw}
.flesh_parts_container{position: absolute; top:12.6vw; left:2vw; display:flex; justify-content: center;}
.flesh_port{width: 3.5vw; height: 3.5vw; margin:0vw 0.3vw}
.flesh_port:hover{filter: brightness(150%);}

/*Boss Buttons*/

.boss_lvl_btn{position: absolute; left: 1.3vw; height:2.5vw; }
.app_boss{top:20vw;}
.vet_boss{top:23.5vw;}
.champ_boss{top:27vw;}

.boss_close{position: absolute; top:0.8vw; right: 0.8vw; width: 1.5vw;}
.boss_close:hover{filter: brightness(150%);}

/*Info Icons*/


/*Shambler info*/
.shambler_info{top:6.8vw;left: 46.5vw; width: 1.5vw;}
.shambler_info_txt{top:12.8vw;left: 59.4vw;}
.boss_quirk_info{top: 6.6vw; left: 38vw; width: 1.6vw;}
.boss_quirk_info_txt{top: 12.5vw; left: 51vw; line-height: 1.5vw; max-width: 45vw;}

/*Scrolling info*/
.scroll_info{top: 9.2vw; left: 45vw;width: 1.5vw;filter: brightness(115%);} 
.scrollable{top:14.9vw; left: 57.8vw; }

/*Boss Locating info*/
.find_boss{ left: 14.5vw; top: 6.9vw; line-height:1.5vw;}

/*Additional Boss info*/
.boss_additional_info{top: 6.6vw; left: 20vw; width: 1.6vw;}
.boss_additional_info_txt{top: 12.5vw; left: 33vw; line-height: 1.5vw; max-width: 45vw;}

/*Additional Boss Minion info*/
.boss_minion_additional_info{top: 17.25vw; left: 2vw; width: 1.6vw;}
.boss_minion_additional_info_txt{top: 23.1vw; left: 14.9vw; line-height: 1.6vw;}

/*Additional Minion info*/
.minion_additional_info{width: 1.5vw; left:0.8vw; top: 1vw;}
.minion_additional_info_txt{left:30.6vw; top: 23.5vw;}

/*Minion Shared Lifelink info*/
.lifelink_info{top: 17.3vw; left: 15vw; width: 1.5vw;}
.lifelink_info_txt{top: 23.1vw; left: 28vw;}

/*Trophy Info*/
.trophy_info{top: 25.8vw; left: 17vw; width: 1.5vw;}
.trophy_info_txt{top: 31.6vw; left: 30vw;}

/*Boss Header*/
.boss_header_container{position:absolute; top: 1.3vw; left: 20vw; width: 20vw; height: 5.1vw;  text-align: center;
                        font-family: dd_logo; color:rgb(199, 179, 107);font-size: 1.5vw; line-height: 2.3vw;}
.main_boss_header{font-size:2vw;}
.foretext{color:rgb(93, 90, 78);}

/*Boss Nav*/

.boss_nav_container{position:absolute; top: 1.3vw; left: 44.6vw; width: 28.8vw; height: 7.1vw;  text-align: center;
    font-family: dd_logo; color:rgb(199, 179, 107);font-size: 1.5vw; line-height: 2.3vw; 
    display: flex; justify-content: center;  align-items: center; flex-wrap: wrap;}
.boss_port{display: flex; height: 3vw; width: 3vw; margin: 0.2vw 0.6vw;}
.boss_port:hover{filter: brightness(150%);}

/*Boss Difficulty Toggle*/

.boss_app_btn{position:absolute; top: 1.1vw; left: 43.1vw; height: 2vw;}
.boss_vet_btn{position:absolute; top: 3vw; left: 43.1vw; height: 2vw;}
.boss_champ_btn{position:absolute; top: 4.9vw; left: 42.1vw; height: 2vw;}
.boss_darkest_btn{position:absolute; top: 6.8vw; left: 41.3vw; height: 2vw;}
.boss_diff_btn{position:absolute; height: 1.5vw;}
.boss_diff_btn:hover{filter: brightness(150%);}

/*Boss Stats*/
.boss_stat_container{position: absolute; left: 20vw; width: 21.5vw; top: 9vw; height: 20vw; 
    font-size: 1.4vw; line-height: 1.8vw; }
.boss_resist_container{position: absolute; left: 20vw; width: 21.5vw; top:19.5vw; height: 20vw; 
    font-size: 1.4vw; line-height: 1.8vw; font-weight: 500;}
.boss_stats_header{position: absolute; left: 20vw; width: 20vw; top: 6.6vw;  text-align: center; font-size: 1.5vw;}
.boss_resists_header{position: absolute; left: 20vw; width: 20vw; top: 17.3vw;  text-align: center; font-size: 1.5vw;}

.stat_header1{position: absolute; left: 0.5vw; width: 10.5vw; top: 0vw; height: 10vw; }
.stat_header2{position: absolute; left: 13vw; width: 10.5vw; top: 0vw; height: 10vw; }
.statline1{position: absolute; left: 5.5vw; width: 10vw; top: 0vw; height: 10vw; }
.statline2{position: absolute; left: 19vw; width: 10vw; top: 0vw; height: 10vw; }

/*Boss Minions*/
.boss_minion_port_container{position: absolute; top: 19.4vw; left: 2vw; width:15vw; height:6vw;
                            display: flex; justify-content: center;  align-items: center;}
.boss_minions_header{position: absolute; left: 2vw; width: 15vw; top: 17.35vw;  text-align: center; font-size: 1.5vw;}
.minion_port_img{height: 3.5vw; width: 3.5vw;display: flex; vertical-align: middle; margin:0 0.3vw }
.minion_port_img:hover{filter: brightness(150%);}

/*Boss Trinkets*/

.boss_trinket_container{position: absolute; top: 27.8vw; left: 2.4vw; width:17vw; height:10.5vw; 
    display: flex; justify-content: center;  align-items: center; }
.boss_trinkets_header{position: absolute; left: 2.5vw; width: 15vw; top: 25.8vw;  text-align: center; font-size: 1.5vw; }
.boss_trinket{height: 7vw; width: 3.5vw;display: flex; vertical-align: middle; margin: 0 0.2vw;}
.boss_trinket:hover{filter: brightness(150%);}


.boss_trinket_desc{position: absolute; top: 29.55vw; left: 12.85vw; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8); padding:0.3vw 0.4vw 0.3vw 0.4vw;
    text-align: center; width:max-content; font-size: 1vw; line-height: 1.5vw; display: none;font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);}

.shrieker1{left:7vw;}
.shrieker2{left:10.87vw;}
.shrieker3{left:14.8vw;}
.shrieker4{left:18.7vw;}
.bosstrinket1{left:5.05vw;}
.bosstrinket2{left:9vw;}
.bosstrinket4{left:16.8vw;}
.bosstrinket5{left:20.7vw;}
/*Boss Skills*/

.boss_skill_container{position: absolute; top: 27.9vw; left: 21.5vw; width:22vw; height:10vw; 
    font-size: 1.3vw; line-height: 2vw; font-weight: 500;}
.boss_skills_header{position: absolute; left: 21.1vw; width: 20vw; top: 25.8vw;  text-align: center; font-size: 1.5vw;  }

.boss_skill_desc_container{position: absolute; top: 28vw; left: 40vw; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8); padding:0.3vw 0.4vw 0.3vw 0.4vw;
    text-align: center; width:max-content;font-size: 0.9vw; line-height: 1.4vw; display: none; font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);}


/*Boss Lore/Strategy Toggle*/

.boss_lore_btn{position: absolute; left: 74.3vw; top: 11vw; width: 3vw}
.boss_strategy_btn{position: absolute; left: 74.3vw; top: 18vw; width: 3vw}
.boss_lore_btn:hover{filter: brightness(150%);}
.boss_strategy_btn:hover{filter: brightness(150%);}
/*Boss Lore and Strategy*/

.boss_lore_header{position: absolute; left: 45.3vw; width: 28.5vw; top: 9.25vw;  text-align: center; font-size: 1.5vw; }
.boss_side_text_container{position:absolute; left: 45vw; top: 11.3vw; width: 28.9vw; height: 26vw; font-size: 1.1vw; line-height: 1.6vw; font-weight: 500; padding: 0 0.3vw; text-align: center; overflow: auto;}
.lore_headertxt{font-size: 1.6vw; text-align: center;  line-height: 2.2vw;padding-top: 0.7vw; }

.boss_side_text_container::-webkit-scrollbar {width: 5px;}
.boss_strategy{display: block; font-size: 1vw; line-height: 1.6vw;}


/*Boss Minion Info*/
.minion_stats{position:absolute;font-size: 1.4vw; line-height: 2.2vw; font-weight: 500; padding: 0.2vw; top: 1.4vw}
.boss_minion_infobox{
    position:absolute;top: 16.8vw; left:17vw; width: 39vw; height: 22vw;
    background-image: url(images/Boss_monsters/minion_infobox_bg.png); background-size: contain;
}
.boss_minion_infobox_shared{position:absolute;top: 16.8vw; left:17vw; width: 39vw; height: 22vw; }

.minion_close{position: absolute; top:0.7vw; right: 0.6vw; width: 1.3vw;}
.minion_close:hover{filter: brightness(150%);}

.boss_minion_sprite{position:absolute; top: 1vw; left: 1.5vw;  max-width: 8.5vw; max-height: 9vw; }
.thin_minion{left: 3vw;}
.small_thin_minion{left: 3vw; top: 1.5vw;}

.boss_minion_name{position: absolute; top: 10.5vw;left:2vw; font-size: 2vw; line-height: 3vw; }

.boss_minion_skill_container{position:absolute; top: 11.5vw; left: 23.5vw; }
.minion_skill_desc{top: 28.6vw; left: 55.9vw;}

.boss_minion_stat_header_container1{left: 11vw;}
.boss_minion_stat_number_container1{left: 17.8vw;}

.boss_minion_stat_header_container2{left: 25vw;}
.boss_minion_stat_number_container2{left: 31.8vw;}

.boss_minion_resist_header_container1{top: 13.7vw; left: 1vw;}
.boss_minion_resist_header_container2{top: 13.7vw; left: 11vw;}

.boss_minion_resist_number_container1{top: 13.7vw; left: 6vw;}
.boss_minion_resist_number_container2{top: 13.7vw; left: 16.8vw;}



/*Quirk Glossary Styling*/

.glossary_container{position:absolute; left: 8.5vw; top: 6.75vw; width: 75.2vw; height: 39vw; 
    background-image: url("images/estate_icons/glossary_background2.png"); background-size: 75.2vw 39vw; display: none; }
.glossary_backdrop{position:absolute; width: 99vw; height: 37vw; left: -8vw;}
.quirk_close{position:absolute; right: 0.8vw; top:0.8vw; width: 1.8vw}
.quirk_close:hover{filter: brightness(150%);}

.glossary_nav1{position:absolute; width: 10vw; top: -3.1vw; left:38vw}
.glossary_nav2{position:absolute; width: 10vw; top: -3.1vw; left:50vw}
.glossary_nav3{position:absolute; width: 10vw; top: -3.1vw; left:62vw}

.glossary_nav1:hover{filter: brightness(150%);}
.glossary_nav2:hover{filter: brightness(150%);}
.glossary_nav3:hover{filter: brightness(150%);}

.tier_nav{position: absolute; left: 74.8vw;top: 0.5vw; width: 3vw; height: 39vw;  display: flex; flex-direction: column; justify-content: center;}

.tier_btn_positive{width: 4vw; margin: 1vw 0vw}
.tier_btn_positive:hover{filter: brightness(150%);}
.tier_btn_negative{width: 3.5vw; margin: 0.3vw 0vw}
.tier_btn_negative:hover{filter: brightness(150%);}

#neg_nav{display: none;}

.quirk_tier_container{width:37vw; height: 39vw;  position: absolute; left: 36vw; }
.tier_header_txt{position: absolute;left: 1vw;top: 2vw;  height: 4vw; width: 40vw;  font-size: 2.2vw;}

.quirk_container{display:block; position: absolute;top: 6vw; left:1vw; width:fit-content; height: 31vw;  }
.quirk_text{font-family: 'Ubuntu', sans-serif; color: rgb(199, 179, 107); font-size: 1.6vw; line-height: 2.6vw; font-weight: 500; width: fit-content;}
.quirk_name_line2{position: relative; left: 16.5vw; top: -31.2vw}
.quirk_name_container{width: fit-content;}

.negative{color: rgb(160, 43, 32);}

.quirk_desc{position: absolute;  display: none;
    border: 0.15vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167);padding: 0.2vw 0.6vw 0.2vw 0.3vw; font-size: 1.3vw; line-height: 1.8vw; font-weight: 500;}

.row1num1{top: 8.5vw; left:0.9vw;}
.row1num2{top:11.1vw; left:0.9vw;}
.row1num3{top:13.7vw; left:0.9vw;}
.row1num4{top: 16.3vw; left:0.9vw;}
.row1num5{top: 18.9vw; left:0.9vw;}
.row1num6{top: 21.5vw; left:0.9vw;}
.row1num7{top: 24.1vw; left:0.9vw;}
.row1num8{top: 26.7vw; left:0.9vw;}
.row1num9{top: 29.3vw; left:0.9vw;}
.row1num10{top: 31.9vw; left:0.9vw;}
.row1num11{top: 34.5vw; left:0.9vw;}
.row1num12{top: 37.1vw; left:0.9vw;}

.row2num1{top: 8.5vw; left:17.4vw;}
.row2num2{top:11.1vw; left:17.4vw;}
.row2num3{top:13.7vw; left:17.4vw;}
.row2num4{top: 16.3vw; left:17.4vw;}
.row2num5{top: 18.9vw; left:17.4vw;}
.row2num6{top: 21.5vw; left:17.4vw;}
.row2num7{top: 24.1vw; left:17.4vw;}
.row2num8{top: 26.7vw; left:17.4vw;}
.row2num9{top: 29.3vw; left:17.4vw;}
.row2num10{top: 31.9vw; left:17.4vw;}
.row2num11{top: 34.5vw; left:17.4vw;}
.row2num12{top: 37.1vw; left:17.4vw;}


.prismatic_info{position: absolute; width:2vw; top: -3.7vw; left: -3vw;}
.prismatic_info:hover{filter: brightness(150%);}
.prismatic_info_txt{position:absolute; top: -3.7vw; left: -0.5vw; font-size: 1.1vw; line-height: 1.4vw;}
.quirk_overview{position: absolute;top:6.5vw }
.quirk_overview_label{position: absolute; font-size: 1.7vw; left: 3.5vw; top: 6.6vw;}
.quirk_general_info{max-width: 38vw; font-size: 1.2vw; line-height: 1.6vw;position: absolute; top: 9vw; left: -2vw;}
/*Disease Box*/

.disease_container{position: absolute; left: 8.5vw; top: 6.75vw; height: 38.7vw; width: 69.8vw; 
    background-image: url("images/diseases/disease_bg.png"); background-size: 69.8vw; display: none;}

.disease_close{position:absolute; right: 0.6vw; top:0.8vw; width: 1.6vw}
.disease_close:hover{filter: brightness(150%);}

.disease_banner{position:absolute; right: 20vw; top: -3.5vw; width: 12vw;}
.dlc_disease_banner{position:absolute; right: 5vw; top:-3.5vw; width: 12vw;}

.disease_banner:hover{filter: brightness(150%);}
.dlc_disease_banner:hover{filter: brightness(150%);}

.disease_universal{left: 2.5vw; top: 5.1vw;}
.disease_shared_label{position: absolute; font-size: 1.5vw; left: 1.5vw; top: 7.5vw;}
.disease_universal_txt{left: 1.5vw;top:8vw; max-width: 60vw; padding-top:0.5vw; font-size: 1.3vw; line-height: 1.8vw;}


.disease_enemy_source{left: 22vw; top: 2.7vw;}
.disease_enemy_label{position: absolute; font-size: 1.5vw; left: 21.2vw; top: 5.3vw;}
.disease_enemy_source_txt{left: 25vw; top: 2.7vw;  max-width: 60vw; font-size: 1.3vw; line-height: 1.8vw; font-weight: 500;}

.disease_curio_source{left: 27vw; top: 2.7vw;}
.disease_curio_label{position: absolute; font-size: 1.5vw; left: 26.6vw; top: 5.3vw;}
.disease_curio_source_txt{left: 30vw; top: 2.7vw;  max-width: 50vw; font-size: 1.3vw; line-height: 1.8vw; font-weight: 500;}

.crimson_curse_cure{position: absolute; top: 9.5vw; left: 2.4vw;}
.crimson_curse_cure_txt{position: absolute; top: 9.5vw; left: 5.3vw; font-size: 1.3vw; line-height: 1.8vw; max-width: 60vw;}

.crimson_curse_benefit{position: absolute; top: 16.5vw; left: 2.4vw;}
.crimson_curse_benefit_txt{position: absolute; top: 16.5vw; left: 5.3vw; font-size: 1.3vw; line-height: 1.8vw; max-width: 60vw;}


.curse_cure{position: absolute; top: 12.2vw; left: 0vw; font-size: 1.5vw; text-align: center;}
.curse_benefit{position: absolute; top: 19.2vw; left: 0vw; font-size: 1.5vw; text-align: center;}


.disease_column{width: 17vw; height: 35vw; position: absolute; top: 1.5vw; font-family: 'Ubuntu', sans-serif; color:rgb(116, 125, 78); font-size: 1.7vw;font-weight: 500; line-height: 2.9vw; padding: 0.3vw;}
.disease_1{right: 18vw; width: 18vw;}
.disease_2{right: -0.5vw;} 
.disease_3{right: 15vw; width: 21vw; color:rgb(162, 42, 23);} 
.disease_4{right: 15vw; width: 21vw; top: 24.7vw;} 

.disease_desc{font-size: 1.3vw;line-height: 1.8vw;text-align: start;}

.disease_row1_num1{position:absolute;left: 34vw; top: 4.7vw;}
.disease_row1_num2{position:absolute;left: 34vw; top: 7.6vw;}
.disease_row1_num3{position:absolute;left: 34vw; top: 10.5vw;}
.disease_row1_num4{position:absolute;left: 34vw; top: 13.4vw;}
.disease_row1_num5{position:absolute;left: 34vw; top: 16.3vw;}
.disease_row1_num6{position:absolute;left: 34vw; top: 19.2vw;}
.disease_row1_num7{position:absolute;left: 34vw; top: 22.1vw;}
.disease_row1_num8{position:absolute;left: 34vw; top: 25vw;}
.disease_row1_num9{position:absolute;left: 34vw; top: 27.9vw;}
.disease_row1_num10{position:absolute;left: 34vw; top: 30.8vw;}
.disease_row1_num11{position:absolute;left: 34vw; top: 33.7vw;}
.disease_row1_num12{position:absolute;left: 34vw; top: 36.6vw;}

.disease_row2_num1{position:absolute;left: 53.5vw; top: 4.7vw;}
.disease_row2_num2{position:absolute;left: 53.5vw; top: 7.6vw;}
.disease_row2_num3{position:absolute;left: 53.5vw; top: 10.5vw;}
.disease_row2_num4{position:absolute;left: 53.5vw; top: 13.4vw;}
.disease_row2_num5{position:absolute;left: 53.5vw; top: 16.3vw;}
.disease_row2_num6{position:absolute;left: 53.5vw; top: 19.2vw;}
.disease_row2_num7{position:absolute;left: 53.5vw; top: 22.1vw;}
.disease_row2_num8{position:absolute;left: 53.5vw; top: 25vw;}
.disease_row2_num9{position:absolute;left: 53.5vw; top: 27.9vw;}
.disease_row2_num10{position:absolute;left: 53.5vw; top: 30.8vw;}
.disease_row2_num11{position:absolute;left: 53.5vw; top: 33.7vw;}
.disease_row2_num12{position:absolute;left: 53.5vw; top: 36.6vw;}

/*Provision Box Styling*/

.provision_backdrop{position:absolute; width: 104vw; height: 45vw; left:-12vw;}
.provision_container{position: absolute; left: 8.5vw; top: 6.75vw; height: 38.5vw; width: 75.2vw; display: none; 
                    background-image: url("images/Provisions/provision_character_background_edited.png"); background-size: 75.2vw;}
.provision_close{position:absolute; right: 0.8vw; top:0.8vw; width: 1.6vw}
.provision_close:hover{filter: brightness(150%);}
.provisions_itembox{display: flex; position: absolute; left: 36.8vw; top: 1.2vw; width: 36.2vw; height: 17.5vw; 
                    flex-wrap: wrap;}
.supply_item{width: 3.9vw; height: 7.2vw; margin: 0.25vw 0.3vw 0.25vw 0.3vw; display: flex;}
.supply_item:hover{filter: brightness(150%);}
.provision_desc{font-size: 1vw; line-height: 1.3vw; font-weight: 500;}

.desctop_space{margin-top: 0.3vw;} 
.descbtm_space{margin-bottom: 0.2vw;}
#food_desc{left:-8.7vw; top:7.8vw} 
#shovel_desc{left:-1vw; top:7.8vw} 
#antivenom_desc{left:3.4vw; top:7.8vw} 
#bandage_desc{left:7.8vw; top:7.8vw} 
#herb_desc{left:12.2vw; top:7.8vw} 
#key_desc{left:17.1vw; top:7.8vw}
#holy_water_desc{left:21.5vw; top: 7.8vw} 
#laudanum_desc{left:26.3vw; top: 7.8vw} 
#torch_desc{left:-7vw; top: 16.5vw} 
#dog_treat_desc{left:-2.4vw; top: 16.5vw} 
#firewood_desc{left:1.6vw; top: 16.5vw}
#the_blood_desc{left:0vw; top: 16.5vw}
#the_cure_desc{left:1.7vw; top: 16.5vw}
#shard_dust_desc{left:7vw; top: 16.5vw}
#aegis_scale_desc{left:14vw; top: 16.5vw}


.provision_areabox{position: absolute; top: 19.3vw; right: 0.5vw;
                   height: 19vw; width: 38.5vw;}

.provisions_navigation{position: absolute; top: 18.2vw; left: 33vw}
.provisions_navbtn{width: 3.2vw;}
.provisions_navbtn:hover{filter: brightness(150%);}

.areabox{position: absolute; width: 37.9vw; height:18.4vw; background-size: 38.5vw;  padding: 0.8vw 1vw;}
.area_provisions_text{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1vw; line-height: 1.3vw; font-weight: 400;}
.ruins_provision{background-image: url("images/backgrounds/ruins_bg.webp"); }
.weald_provision{ background-image: url("images/backgrounds/Weald.webp");}
.warrens_provision{ background-image: url("images/backgrounds/Warrens.webp"); }
.cove_provision{  background-image: url("images/backgrounds/Cove.webp");}
.courtyard_provision{  background-image: url("images/backgrounds/Courtyard.webp");background-position: center;}
.farmstead_provision{  background-image: url("images/backgrounds/Farmstead.webp");background-position: center;}

.dungeon_category{width: 12.5vw; height: 17vw; padding-top: 2vw; }
.dungeon_main{width: 37vw; height: 17vw; padding-top: 2vw;}

.provisions_title{font-size: 2vw; font-family: dd_logo; color: rgb(199, 179, 107); position: absolute; display: flex;justify-content: center; width: 36vw; height: 3vw;}
.provisions_list{text-align: center; line-height: 1.5vw;}
.general_provision_list{text-align: start; line-height: 1.7vw;}
.dungeon_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.5vw; margin-top: 0.5vw;}

#ruins_area{display: flex;}
#weald_area{display:none}
#warrens_area{display:none}
#cove_area{display: none;}
#courtyard_area{display: none;}
#farmstead_area{display: none;}

.trap_info{top: -0.6vw; left:1.8vw;}
.trap_info_text{top: -1vw; left:4.1vw;}
.trap_label{position:absolute; left:1.1vw; font-size: 1.2vw; top: 1.5vw;}
/*Loot Box Styling*/

.loot_container{position: absolute; top: 14vw;left: 2vw; width: 36vw; height: 25.8vw; 
               background-image: url('images/loot/inventory_panel.png'); background-size: 36vw; display: none;}
#lootclose{width: 1.5vw; position: absolute; right: 0.45vw; top: 0.45vw;}
#lootclose:hover{filter: brightness(150%);}
.lootflex{width: 36vw; height: 16.7vw;  margin: 0.3vw 0 0 0.3vw; display:flex;flex-wrap: wrap; }
.loot_item{position: absolute; width: 3.4vw; height: 7vw; }
.loot_item:hover{filter: brightness(150%);}

.slot1{ top: 0.9vw; left: 0.8vw}
.slot2{top: 0.9vw; left: 4.85vw}
.slot3{top: 0.9vw; left: 8.9vw}
.slot4{top: 0.9vw; left: 12.95vw}
.slot5{top: 0.9vw; left: 17vw}
.slot6{top: 0.9vw; left: 21.05vw}
.slot7{top: 0.9vw; left: 25.1vw}
.slot8{top: 0.9vw; left: 29.15vw}
.slot9{ top: 9.35vw; left: 0.8vw}
.slot10{top: 9.35vw; left: 4.85vw}
.slot11{top: 9.35vw; left: 8.9vw}
.slot12{top: 9.35vw; left: 12.95vw}
.slot13{top: 9.35vw; left: 17vw}
.slot14{top: 9.35vw; left: 21.05vw}
.slot15{top: 9.35vw; left: 25.1vw}
.slot16{top: 9.35vw; left: 29.15vw}

.slot17{top: 17.8vw; left: 0.8vw}
.slot18{top: 17.8vw; left: 4.85vw}
.slot19{top: 17.8vw; left: 8.9vw}
.slot20{top: 17.8vw; left: 12.95vw}

.slot22{top: 17.8vw; left: 21.05vw}
.slot23{top: 17.8vw; left: 25.1vw}

.loot_desc{ font-size: 1vw; line-height: 1.4vw; font-weight: 500;}

#citrine_desc{top: 0.95vw; left: 4.5vw;}
#jade_desc{top: 0.95vw; left: 8.55vw}
#onyx_desc{top: 0.95vw; left: 12.6vw}
#emerald_desc{top: 0.95vw; left: 16.65vw}
#sapphire_desc{top: 0.95vw; left: 20.7vw}
#ruby_desc{top: 0.95vw; left: 24.75vw}

#trapezohedron_desc{top: 8.1vw; left: 18vw}
#goldbag_desc{top: 8.1vw; left: 24vw}

#pew_desc{top: 9.25vw; left: 4.5vw}
#minor_antique_desc{top: 9.25vw; left: 8.55vw}
#major_antique_desc{top: 9.25vw; left: 12.6vw}
#tapestry_desc{top: 9.25vw; left: 16.65vw}

#crest_desc{top: 16.6vw; left:11vw}
#bust_desc{top: 16.6vw; left: 15vw}
#deed_desc{top: 16.6vw; left: 19.2vw}
#portrait_desc{top: 16.6vw; left:23.3vw}

#blueprint_desc{top: 17.55vw; left:4.5vw}

#baron_invite_desc{top: 17.55vw; left:8.55vw}
#viscount_invite_desc{top: 17.55vw; left: 12.6vw}
#countess_invite_desc{top: 17.55vw; left: 16.65vw}

#shard_desc{top: 17.55vw; left: 24.75vw}
#memory_desc{top: 17.55vw; left: 28.8vw}


.apprentice{color:rgb(108, 149, 85)}
.veteran{color:rgb(209, 136, 46)}
.champion{color: rgb(149, 48, 48)}


/*Trinketbox Styling*/

.trinketbox_container{position: absolute;right:13vw; top:0; width: 45vw; height: 45vw; background-image: url("images/Trinket_Box/trinketbox_alt.png"); background-size: 45vw;display:none }
.trinketbox_backdrop{position:absolute; width: 99vw; height: 45vw; left:-45vw; top:0vw;}
.trinketbox_close_btn{position:absolute; right: 1.3vw; top:1.3vw; width: 1.6vw}
.trinketbox_close_btn:hover{filter: brightness(150%);}

.trinketbox_hero_portrait_container{position: absolute; width: 40vw; left: 3vw; bottom:1vw; height: 8vw; display: flex; justify-content: center; flex-wrap: wrap;}
.hero_port{width: 3.6vw; display: flex; margin: 0 0.7vw  0.4vw 0vw;}
.hero_port:hover{filter: brightness(150%);}

.trinket_banner_container{position: absolute;top:9vw; left: -14.15vw; width:15vw; height: 35vw; text-align: end;}
.trinket_banner{height:2.3vw;margin-bottom:0.75vw;}
.trinket_banner:hover{filter: brightness(150%);}

.trinket_description{max-width: 23vw; line-height: 1.5vw;}


.trinketbox_trinket{position: absolute; height: 8vw;}
.trinketbox_trinket:hover{filter: brightness(150%);}

.trinket_row1{top:9vw;}
.trinket_row2{top:18.2vw;}
.trinket_row3{top:27.4vw;}



.trinket_num1{left: 2.3vw;}
.trinket_num2{left: 6.85vw;}
.trinket_num3{left: 11.4vw;}
.trinket_num4{left: 15.95vw;}
.trinket_num5{left: 20.5vw;}
.trinket_num6{left: 25.05vw;}
.trinket_num7{left: 29.6vw;}
.trinket_num8{left: 34.15vw;}
.trinket_num9{left: 38.7vw;}

.trinket_row2_num1{top:18.2vw; left: 2.3vw;}
.trinket_row3_num1{top: 27.4vw; left: 2.3vw;}

.trinket_desc_row1{top: 9vw;}
.trinket_desc_row2{top:18.2vw;}
.trinket_desc_row3{top: 27.4vw;}

.trinket_desc_num1{left: 6.5vw;}

.trinket_desc_num2{left: 11.05vw;}
.trinket_desc_num3{left: 15.6vw;}
.trinket_desc_num4{left: 20.15vw;}
.trinket_desc_num5{left: 24.7vw;}
.trinket_desc_num6{left: 29.25vw;}
.trinket_desc_num7{left: 33.8vw;}
.trinket_desc_num8{left: 38.35vw;}
.trinket_desc_num9{left: 42.9vw;}



/*Tooltip Colorcoding*/
.very_common{color: grey}
.common{color: grey}
.uncommon{color:rgb(108, 149, 85)}
.rare{color: rgb(68, 97, 163)}
.very_rare{color: rgb(180, 78, 31)}
.crystalline{color: rgb(184, 253, 238)}
.keepsake{color: rgb(184, 253, 238)}
.crimson_court{color:rgb(162, 42, 23)}
.cc_text{color:rgb(92, 50, 58)}
.set_bonus{color:rgb(128, 191, 116)}
.trophy{color:rgb(217, 185, 116)}
.ancestral{color:rgb(207, 59, 33);}
.darkest_dungeon{color:rgb(207, 59, 33);}
.shrieker{color:rgb(207, 59, 33);}
.thing{color:rgb(93, 144, 155);}

/*Trinket Icons*/

.trinket_overview{position: absolute; width: 3vw; top: 2.7vw; left: 19.9vw;}
.trinket_overview_label{position: absolute; top: 5.7vw; left: 19vw; font-size: 1.5vw; }
.trinket_general_info{position: absolute; top: 6vw;left: 18vw; max-width: 40vw; font-size: 1.2vw; line-height: 1.4vw;}

.crimson_court_trinket_overview{position: absolute; width: 3vw; top: 2.7vw; left: 25.5vw;}
.crimson_court_trinket_overview_label{position: absolute; top: 5.7vw; left: 24vw; font-size: 1.5vw; text-align: center;max-width: 6vw;}

.color_of_madness_trinket_overview{position: absolute; width: 3vw; top: 2.7vw; left: 31.2vw;}
.color_of_madness_trinket_overview_label{position: absolute; top: 5.7vw; left: 30.2vw; font-size: 1.5vw;}

.shieldbreaker_trinket_overview{position: absolute; width: 3vw; top: 2.7vw; left: 38vw;}
.shieldbreaker_trinket_overview_label{position: absolute; top: 5.7vw; left: 36.5vw; font-size: 1.5vw;}


/*Districts*/

.district_container{ position: absolute; display: none;width: 38.3vw; height: 38.4vw; left: 9vw; top: 6.9vw;
    background-image: url('images/Districts/district_background.png'); background-size: 38.3vw;}

.district_sprite{position: absolute; top: 4vw; left: 2vw; width: 16vw;}

/*Lower Right Button Styling*/
.district_closed{position:absolute; top: 44.2vw; left: 69.3vw; width: 4vw; height: 4.7vw}
.district_open{position:absolute; top: 44.2vw; left: 69.3vw; width: 4vw; height: 4.7vw; display: none;}
.estate_overlay{position: absolute; height: 6.4vw; width: 5vw; display: none;}
.district_overlay{ top: 43.2vw; left: 69.3vw;}

.event_closed{position: absolute; top: 44.5vw; left: 74.6vw; width: 4.5vw; }
.event_open{position: absolute; top: 44.5vw; left: 74.6vw; width: 4.5vw; display: none}
.event_overlay{ top: 43.2vw; left: 74.3vw}

.activity_closed{position: absolute; top: 44.9vw; left: 79.4vw; width: 5vw; height: 3.5vw}
.activity_open{position: absolute; top: 44.4vw; left: 79.4vw; width: 5vw; height: 5vw;display: none}
.activity_overlay{ top: 43.2vw; left: 79.3vw}

.trinketbox_closed{position: absolute; top: 43.5vw; left: 84.5vw; width: 4.9vw; height: 5vw}
.trinketbox_open{position: absolute; top: 43.5vw; left: 84.5vw; width: 4.9vw; height: 5vw;display: none}
.trinketbox_overlay{ top: 43.2vw; left: 84.3vw}

.glossary_closed{position: absolute; top: 44.3vw; left: 89.7vw; width: 4.1vw; height: 4.3vw}
.glossary_open{position: absolute; top: 44.3vw; left: 89.3vw; width: 5vw; height: 4.3vw;display: none}
.glossary_overlay{ top: 43.2vw; left: 89.3vw}

.setting_icon{position: absolute; top: 44.2vw; left: 95.2vw; width: 3.1vw;height: 4.1vw}
.setting_overlay{ top: 43.2vw; left: 94.3vw}

.includes_dlc_label{position: absolute; top: 42vw;left:77vw;
    font-family: 'Ubuntu', sans-serif; color:rgb(93, 91, 79);font-size: 1.3vw; font-weight: 800;}

/*Background element Styling*/
.back_arrow{position: absolute; top: 4.3vw; left: 11.8vw; height: 2vw;}
.back_arrow:hover{filter: brightness(150%);}
.crimson_banner{width: 9.5vw; position: absolute; top: 5vw; left: 1.2vw;}
.estate_title{height: 15vw; position: absolute;  width: 48vw;}

/*Embark Button Styling*/
#embark_button{height: 3vw; position: absolute; top: 44.7vw; left: 49.7vw; display: none;}
#embark_button:hover{filter: brightness(170%);}
.embark_btn{height: 5vw; position: absolute; top: 45vw; left: 49.7vw; display: none;}
.embark_btn:hover{filter: brightness(170%);}
.dd_button{position: absolute;  width: 16vw; height: 2.3vw; margin-top: 1.1vw; }
.dd_buttontop{position: absolute; width: 16vw; margin-top: 0.4vw; }
.embark_branch{top: 44.7vw}

/*Opinion Container Styling*/
.opinion_container{width: 21.5vw; height:5.2vw; 
    position: absolute; top: 40.2vw; left:47vw; display: flex; justify-content: center;}
.opinion_header{position: absolute; top: 38vw;left:51.55vw;
    font-family: 'Ubuntu', sans-serif; color:rgb(93, 91, 79);font-size: 1.3vw; font-weight: 800;}
.opinion_box{width: 23vw; height:6vw;
    position: absolute; top: 39.8vw; left:46.3vw}

.opinion_bg{width:5vw; height: 5vw; display: flex; padding: 0.5vw 0.2vw 0.2vw 0.4vw;}
.opinion_bg:hover{filter: brightness(150%);}
.padding{height:10vw; width: 100vw; background-color: black;}

/*Hero Portion Styling*/
.heroes_main{
    background-image: url(images/backgrounds/circus.png); background-size: 100vw; 
    height: 43vw; background-clip: content-box; background-position: top;
}

.hero_port_container{
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; 
    position: absolute; top:60vw; width: 99%; margin-left: 0.4vw
}

.back_hero1{width: 2vw; position: absolute; top: 60.5vw; left: 0.65vw}
.back_hero2{width: 2vw; position: absolute; top: 60.5vw; right: 0.65vw}
.back_hero1:hover{filter: brightness(150%);} 
.back_hero2:hover{filter: brightness(150%);}

/*Hero Panel Styling*/
.hero_panel{ margin: 0; padding:0; margin-top: 4vw; display: none;}
.char_panel{width: 94vw; height: 40vw; position: relative; margin-left: 3vw;}

.empty_space{ height: 47vw; width: 30vw; position: absolute;}

/*Hero Header Styling*/
.hero_header{color: rgb(199, 179, 107); font-family: dd_logo ; font-size: 2.6vw;
             position: absolute; top: 64.6vw; left: 6.7vw;}
.quotebox{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; font-weight: bold;
         position: absolute; top: 67.1vw; left: 6.7vw;} 
.box_text{display: none;}

.header_bg{position: absolute; left: 6vw; top: 64.7vw;  width: 60vw; height: 6vw;}



.shadow{position: absolute; top: 99.5vw; left: 6.6vw; width: 10vw; height: 4vw; } 
.shadow_big{position: absolute; top: 89.5vw; left: 5vw; width: 12vw; height: 4.2vw; display: none;} 

/*Hero Panel Button Styling*/
.close_btn{position: absolute; top: 64.6vw; right: 3.6vw; width: 1.6vw;} 
.close_btn:hover{filter: brightness(150%);}

.prev_btn{position: absolute; top: 104vw; left: 85vw; width: 5vw; height: 2.6vw; display: none;}
.next_btn{position: absolute; top: 104vw; left: 90vw; width: 5vw; height: 2.6vw; display: none;}
.prev_btn:hover{filter: brightness(150%);}
.next_btn:hover{filter: brightness(150%);}


/*Info Button Styling*/

.infobox{display: flex; justify-content: center;
        position: absolute; top: 87.6vw;left: 89.8vw; height: 2.2vw; width: 2.4vw;}
    
.infodesc{position: absolute;top: 87.5vw ; left: 83.3vw; padding: 0.1vw 0.2vw; display: none;
    font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 0.8vw; line-height: 1.4vw;
    height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);}

.box2{top: 81.9vw; left: 17.4vw;}
.desc2{top: 81.8vw; left: 19.5vw;}


/*Preferred Target Styling*/

.pref_position_container{position:absolute; top: 70vw; left: 58.3vw;  
    height: 2.9vw; width: 13.3vw; display: flex; justify-content: space-evenly; } 

.pref_target_container{position:absolute; top: 70vw; left: 79.25vw;  
    height: 2.9vw; width: 13.3vw; display: flex; justify-content: space-evenly; } 

.pref_pos{height: 0.8vw; width:1vw;  border-radius: 2vw; background-color:rgb(199, 179, 107); }
.pref_target{height: 0.8vw; width:1vw;  border-radius: 2vw; background-color:red;}

.pos4_1{position:absolute; left: 1.2vw; top: 0.97vw;}
.pos3_2{position: absolute; left: 4.45vw; top: 0.97vw}
.pos2_3{position: absolute; left: 7.65vw; top: 0.97vw}
.pos1_4{position:absolute; left: 10.9vw; top: 0.97vw}

.barely_pref{filter: brightness(40%)}
.strong_pref{filter: brightness(165%);}
.med_pref{filter: brightness(90%);}

.pref_pos_header{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;
    position: absolute; top: 68.8vw; left: 46.3vw;
   height: 2vw; width: 25vw; text-align: center;} 

.pref_target_header{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;
    position: absolute; top: 68.8vw; left: 78.7vw;
   height: 2vw; width: 25vw; text-align: center;} 



/*Hero Panel Category Styling*/

.title_header{font-family: dd_logo; color: rgb(199, 179, 107); font-size: 1.6vw;}
.quirk_header{position: absolute; top: 70.5vw; left: 17.7vw;
    height: 2vw; width: 34.3vw; text-align: center;} 

.stat_header{position: absolute; top: 81.8vw; left: 17.7vw;
    height: 2vw; width: 34.3vw; text-align: center;}

.equip_header{position: absolute; top: 89.5vw; left: 17.7vw;
    height: 2vw; width: 34.3vw; text-align: center;}

.skill_header{position: absolute; top: 66.6vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.camp_header{position: absolute; top: 78.9vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.resist_header{position: absolute; top: 87.5vw; left: 57.5vw; 
    height: 2vw; width: 35vw; text-align: center;}

.misc_stat_header{position: absolute; top:96.4vw; left: 57.5vw; 
        height: 2vw; width: 35vw; text-align: center;}
    
/*Quirk Category Styling*/

.posquirk_text{ color: rgb(199, 179, 107); font-family:  'Ubuntu', sans-serif; font-size: 1vw; font-weight: 500; line-height: 1.5vw;
            position:absolute; top: 73vw; left: 18.5vw;  transform: scaleX(1.1);
}

.negquirk_text{ color: rgb(160, 43, 32); font-family:  'Ubuntu', sans-serif; font-size: 1vw; font-weight: 500; line-height: 1.5vw;
    position:absolute; top: 73vw; left: 38.5vw;  transform: scaleX(1.1); 
    display: flex;  width: 13vw; height: 30vw;  direction: rtl;
}
.negflex {display: flex;}


/*Resolve and name Styling*/
.resolve{position:absolute; top: 70vw; left: 9.4vw; width: 2.7vw }

.canon_name{color: rgb(199, 179, 107); font-family:  dd_logo; font-size: 1.5vw; 
    position:absolute; top: 75.8vw; left: 7.5vw; transform: scaleX(1.2);
    width: 7vw; height: 2vw; ; text-align: center;}

/*Resist Styling*/

.res_icon {width: 1.5vw}

.resist_text{position: absolute; top: 89.8vw; left: 57.3vw; 
             width: 35vw; height: 6.5vw; display: flex;
             font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.1vw; line-height: 1.5vw;}

.resist1{height: 6.5vw; width: 17vw; display: flex; direction: rtl; flex-direction: column;}
.resist2{height: 6.5vw; width: 19vw;  display: flex; direction: rtl; flex-direction: column;}

/*General Tooltip Colorcoding*/

.highres{color: rgb(199, 179, 107); }
.highest{filter: brightness(150%); color: yellow;}
.lowres {color: rgb(160, 43, 32);}
.lowest {filter: brightness(70%);}
.normal {color: rgb(173, 172, 167)}
.stun {color:rgb(221, 175, 62)}
.blight{color:rgb(185, 191, 65)}
.heal{color:rgb(133, 189, 62)}
.stress{color:white}
.chance {color: rgb(94, 95, 94)}
.debuff{color:rgb(177, 108, 49)}
.buff{color:rgb(117, 190, 197)}
.bleed{color:rgb(141, 14, 16)}
.move{color:rgb(92, 129, 145)}
.disease{color:rgb(116, 125, 78)}
.mark{color:rgb(141, 15, 26)}
.stealth{color: rgb(79, 71, 124)}
.scouting {color: rgb(69, 123, 112)}
.block{color: rgb(93, 83, 43)}
.aegis{width: 1.5vw; margin: 0;  margin-top:-0.25vw; padding:0; position: absolute;}
.grey{color:grey}
.attack_type{color:rgb(140, 123, 95)}

/*Statline Styling*/
.statline_container{position: absolute; top: 84.3vw; left: 18vw;
    height:7.2vw; width:40vw; 
    display: flex; justify-content: start; flex-direction: row;}


.stat_box{position: absolute; top: 84.4vw; left: 9vw;
             height:7.2vw; width:53vw;
             display: flex; justify-content: start; flex-direction: row;}

.stats_box1{position: absolute; left: 5vw;}
.stats_box2{position: absolute; left: 19.5vw}

.numbers_container{position:absolute; width: 40vw;}
.numbers_box1{height:7vw; position:absolute; left: 21.5vw; top: -0.1vw; width: 35vw}
.numbers_box2{height: 7vw;position: absolute; left: 34vw; top: -0.1vw; width:15vw}

.statline{font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 1.3vw;
     line-height: 1.5vw; text-align: start;}

/*Misc Stats Styling*/
.misc_container {position: absolute; top: 99.2vw; left: 52vw;
                height:7.2vw; width:40vw; 
                display: flex; justify-content: start; flex-direction: row;}
.misc_box1{position: absolute; left: 4.5vw;}
.misc_box2{position: absolute; left: 24vw}
.misc{top: 99.3vw; left: 46vw}
.misc_numbers_box1{height:7vw; position:absolute; left: 19vw; top: -0.1vw; width: 35vw}
.misc_numbers_box2{height: 7vw;position: absolute; left: 37vw; top: -0.1vw; width:15vw}
.misc_statline{line-height: 1.8vw; }


/*Camping and Combat Styling*/


.desc_box{position: absolute; top: 4.4vw; left: -3vw;
         height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
         font-family: 'Ubuntu', sans-serif; color: rgb(173, 172, 167); font-size: 0.9vw; line-height: 1.1vw; font-weight: 500;
         text-align: center; padding: 0 0.6vw 0.3vw 0.6vw; display: none;
}





.equip_desc{position: absolute; top: -2.6vw;
    height: fit-content; width:max-content; border: 0.2vw rgb(54, 54, 55) solid;background-color:rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif; color: rgb(206, 58, 33); font-size: 1vw; line-height: 1.5vw; font-weight: 500;
    text-align: center; padding:0.2vw; display: none;
}

